html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  touch-action: none; 
}

button {
  font-size: 30px;
  border: none;
  border-radius: 5px;
  padding: 18px;
  color: black;
  background:yellow;
  user-select: none;
}

.submitButton {
  background-color: orange;
  font-weight: bold;
}